.btn .table {
  color: #ff0000;
}
.btn {
  height: 33px;
}
.table {
  width: 444px;
}
.container {
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 0px;
  width: 454px;
  height: 454px;
}
.title {
  font-size: 30px;
  text-align: center;
  width: 200px;
  height: 100px;
}
